body {
    font-family: sans-serif;
}

.box input[type = "text"], .box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    border: 2px solid white;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 280px;
    border-color: #f0ad4e;
}

.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    border: 2px solid #f0ad4e;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover {
    background: #f0ad4e;
}
