body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #282828;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mini-img-with-orange-border{
    height: 100px;
    width: 100px;
    border: 2px solid #ff6a00;
}

.default-img{
    height: 150px;
    width: 150px;
}

.back-item {
    width: 340px;
    height: 329px;
    top: 0;
    left: 10px;
    background: #808080;
}

.device-block {
    transform: scale(.90);
    perspective: 500px;
}

.device-item {
    position: relative;
    transition: all 1s ease;
    transform-style: preserve-3d;
}

.side {
    transition: all .3s ease;
    display: block;
    backface-visibility: hidden;
}

.front {
    position: relative;
}

.back {
    position: absolute;
    transform: rotateY(180deg);
}

.front-img {
    width: 330px;
    height: 330px;
}

.flip {
    transform: rotateY(180deg);
}

.panel {
    background-color: #282828;
}

.panel-footer {
    background-color: #282828;
}

.grey-modal {
    background: #808080;
}