@model DeviceStore.Domain.Entities.Company

<div class="modal-content grey-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Вы уверены что хотите удалить компанию @Model.Name?</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Фотография:</dt>
            <dd>
                <img class="mini-img-with-orange-border" src="~/Content/CompanyImages/@Model.Image" />
            </dd>

            <dd class="text-right">
                @using (Html.BeginForm("DeleteCompany", "AdminCompany"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("Id", Model.Id)
                    <div class="form-actions no-color">
                        <input type="submit" value="Удалить" class="btn btn-danger bottom-right" />
                    </div>
                }
            </dd>
        </dl>
    </div>
</div>
