
@using (Html.BeginForm("DevicesSearch", "Home"))
{
    <div class="navbar-left navbar-form">
        <input type="text" placeholder="Поиск" name="deviceName"/>
        <button type="submit" class="btn btn-warning">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </div>
}