
@{
    ViewBag.Title = "ThankYou";
}

<h1>Спасибо за покупку!</h1><br/>
<h3>Id вашего заказа: @ViewBag.OrderId</h3><br/>
<h4>Чек вы можете посмотреть в вашей электронной почте которую вы указали.</h4>

